.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;

}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F7FC;
  height: 810px;
}

.blog-header {
  text-align: left;
  margin-right: 20px;
}

.blog-title {
  color: #007bff;
  margin: 0;
}

.blog-header h2 {
  font-size: 24px;
  font-weight: bold;
}

.blog-header p {
  color: #666;
}

.carousel-buttons {
  display: flex;
  gap: 10px;
}

.carousel-button {
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
    margin-top:100px ;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 500px;
  height: 610px;
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 20px;
}

.card-content {
  padding: 20px;
  text-align: left;
}

.card-content .category {
  color: #007bff;
  font-weight: bold;
  display: block;
}

.card-content .date {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.card-content h3 {
  font-size: 19px;
  margin: 10px 0;
}

.card-content p {
  color: #666;
  font-size: 16px;
}

.author {
  color: #007bff;
  font-weight: bold;
}



/* Responsive Styling */
@media screen and (max-width: 768px) {
  .content-container {
    flex-direction: column; 
    padding: 20px; 
  }

  .blog-header {
    text-align: center; 
    margin-bottom: 20px; 
  }

  .carousel-buttons {
    justify-content: center; 
  }

  .cards-container {
    flex-direction: column; 
    align-items: center; 
  }

  .card {
    width: 100%; 
    max-width: 400px; 
    margin: 20px 0; 
  }

  .card-image {
    height: 200px; 
  }
}
  
  
 

/* Responsive Styling
  @media screen and (max-width: 768px) {
    .card {
      width: 100%;  One card per row 
    }
  }
     */